.navbar-lewagon {
  justify-content: space-between;
  background-color: #2c2c2c;
}

.navbar-lewagon .navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-lewagon .navbar-brand i {
  width: 40px;
}

.navbar-lewagon .brand-name {
  color: #f5a623;
  margin-left: 10px;
}

.navbar-lewagon .navbar-nav .nav-item {
  margin-left: 20px;
}

.navbar-lewagon .navbar-nav .nav-item a {
  color: #f5a623;
  transition: color 0.3s ease;

  &:hover {
    color: rgb(179, 20, 20);
  }
}

.navbar-lewagon .dropdown-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navbar-lewagon .dropdown-toggle span {
  margin-left: 5px;
  color: #f5a623;
}

.dropdown-menu {
  background-color: #2c2c2c;
}

@media (max-width: 576px) {
  #navbarDropdown{
    display: none;
  }
}
